<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Login</title>
    </head>

    <body>
        <section>
            {{ txt }}
            <div>
                <div>
                    <div>
                        <div>
                            <form action='{{ url_for("login1")}}' method="POST">
                                <div>
                                    <label class="label">Username</label>
                                    <div>
                                        <input
                                            class="input"
                                            type="text"
                                            name="username"
                                            placeholder="Username"
                                        />
                                    </div>
                                </div>
                                <div>
                                    <label class="label">Password</label>
                                    <p>
                                        <input
                                            class="input"
                                            type="password"
                                            name="password"
                                            placeholder="Password"
                                        />
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <button type="submit" class="button">
                                            Login
                                        </button>
                                    </p>
                                </div>
                            </form>
                            <form
                                action='{{ url_for("register")}}'
                                method="POST"
                            >
                                <div>
                                    <p>
                                        <button type="submit" class="button">
                                            Register
                                        </button>
                                    </p>
                                </div>
                            </form>
                            <form
                                action='{{ url_for("leaderboard")}}'
                                method="POST"
                            >
                                <div>
                                    <p>
                                        <button type="submit" class="button">
                                            View Leaderboard
                                        </button>
                                    </p>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
