<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Main Page</title>
        {% assets 'css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    </head>
    <body>
        <section class="main-sect">
        <section>
            <div>
                <div>
                    <h1>{{g.user.username}}'s Profile</h1>
                   
                </div>
            </div>
        </section>
        <div class="regled2">
        <form action='{{ url_for("codesubmit")}}' method="POST">
            <div>
                <p>
                    <button type="submit" class="button">Submit Code</button>
                </p>
            </div>
        </form>
        <form action='{{ url_for("leaderboard")}}' method="POST">
            <div>
                <p>
                    <button type="submit" class="button">
                        Leaderboard
                    </button>
                </p>
            </div>
        </form>
        <form action='{{ url_for("logout1")}}' method="POST">
            <div>
                <p>
                    <button type="submit" class="button">Logout</button>
                </p>
            </div>
        </form>
    </div>
        </section>
    </body>
</html>
