<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Main Page</title>
    </head>
    <body>
        <section>
            <div>
                <div>
                    <h1>{{g.user.username}}'s Profile</h1>
                    <h2>You are user number #{{g.user.id}}</h2>
                </div>
            </div>
        </section>
        <form action='{{ url_for("logout")}}' method="POST">
            <div>
                <p>
                    <button type="submit" class="button">Logout</button>
                </p>
            </div>
        </form>
    </body>
</html>
